<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyRVmsgUnviYaQ-BDVriy-9oAq6osq_Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>984842521038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ftTask</string>
	<key>PROJECT_ID</key>
	<string>ftworkout-4a26d</string>
	<key>STORAGE_BUCKET</key>
	<string>ftworkout-4a26d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984842521038:ios:3350174ceef6a9aee8839f</string>
</dict>
</plist>